@use "bootstrap/scss/bootstrap";
.form-control.placeholder-with-icon-email {
    background-image:url('../assets/Icon\ _\ UserOutlined.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 16px;
    padding-left: 40px;
}

.form-control.placeholder-with-icon-password {
    background-image:url('../assets/Icon\ _\ LockOutlined.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 16px;
    padding-left: 40px;
}

.fixed-width-45{
    width: 45px !important;
}

.no-icon-is-invalid.is-invalid{
    background-image:none;
    padding-right: 12px;
    border-width:1px;
}