@use "bootstrap/scss/bootstrap";
.placeholder-with-icon-email {
    background-image:url('../assets/Icon\ _\ UserOutlined.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 16px;
    padding-left: 40px;
}

.placeholder-with-icon-password {
    background-image:url('../assets/Icon\ _\ LockOutlined.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 16px;
    padding-left: 40px;
}